In [1]:
import numpy as np
import pandas as pd

In [2]:
#data['Ticket'][data['Parch']==1]

# Function Application and Mapping

In [3]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                        index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah   -1.358968  0.906585 -1.348717
Ohio   -0.993982  1.433786 -0.013154
Texas   2.024840 -0.005301  0.526828
Oregon  0.154894 -0.435766  1.382228

In [4]:
np.abs(frame)

               b         d         e
Utah    1.358968  0.906585  1.348717
Ohio    0.993982  1.433786  0.013154
Texas   2.024840  0.005301  0.526828
Oregon  0.154894  0.435766  1.382228

In [5]:
f = lambda x: x.max() - x.min()
frame.apply(f)

b    3.383809
d    1.869552
e    2.730946
dtype: float64

In [6]:
f = lambda x: x**2
frame.apply(f)

               b         d         e
Utah    1.846795  0.821896  1.819038
Ohio    0.988001  2.055743  0.000173
Texas   4.099978  0.000028  0.277548
Oregon  0.023992  0.189892  1.910555

# Sorting and Ranking

In [7]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])

In [8]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [9]:
obj.sort_index(ascending=False)

d    0
c    3
b    2
a    1
dtype: int64

In [10]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                        index=['three', 'one'],
                        columns=['d', 'a', 'b', 'c'])
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [11]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [12]:
obj = pd.Series([4, 7, -3, 2])
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [13]:
frame1 = pd.DataFrame(np.arange(12,0,-1).reshape((3, 4)),
                        index=['three', 'one','two'],
                        columns=['d', 'a', 'b', 'c'])
frame1

        d   a   b  c
three  12  11  10  9
one     8   7   6  5
two     4   3   2  1

In [14]:
frame1.sort_values(by='a')

        d   a   b  c
two     4   3   2  1
one     8   7   6  5
three  12  11  10  9

In [15]:
#pd.options.display.max_rows=10

In [29]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4, 7, 7, 60])
obj

0     7
1    -5
2     7
3     4
4     2
5     0
6     4
7     7
8     7
9    60
dtype: int64

In [30]:
obj.sort_values()

1    -5
5     0
4     2
3     4
6     4
0     7
2     7
7     7
8     7
9    60
dtype: int64

In [31]:
obj.sort_values(inplace=True)

In [32]:
obj

1    -5
5     0
4     2
3     4
6     4
0     7
2     7
7     7
8     7
9    60
dtype: int64

In [33]:
obj.rank(method='first')

1     1.0
5     2.0
4     3.0
3     4.0
6     5.0
0     6.0
2     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [34]:
obj.rank()

1     1.0
5     2.0
4     3.0
3     4.5
6     4.5
0     7.5
2     7.5
7     7.5
8     7.5
9    10.0
dtype: float64

In [36]:
arr = np.array([3, 5, 6, 7, 2, 9])

In [37]:
#np.max(arr)
print(f"The max value is {arr.max()}")
print()
print(f"The index of max value is {arr.argmax()}")

The max value is 9

The index of max value is 5

In [39]:
#np.min(arr)
print(f"The max value is {arr.min()}")
print()
print(f"The index of max value is {arr.argmin()}")

The max value is 2

The index of max value is 4

In [41]:
#data["Mid"].max()>>> max value
#data["Mid"].idmax()>>> index of max value

# Correlation and Covariance

In [1]:
import pandas_datareader.data as web