In [1]:
import numpy as np

In [2]:
x=np.array([[1,2,3]])
print(x.shape)

y = np.array([[4],[5]])
print(y.shape)

(1, 3)
(2, 1)

In [3]:
x,y =np.broadcast_arrays(x,y)
x

array([[1, 2, 3],
       [1, 2, 3]])

In [4]:
y

array([[4, 4, 4],
       [5, 5, 5]])

# Pandas

In [5]:
import pandas as pd

In [6]:
s1 = pd.Series([11,22,33,44,55,66,77,88,99,100])

In [7]:
s1

0     11
1     22
2     33
3     44
4     55
5     66
6     77
7     88
8     99
9    100
dtype: int64

In [8]:
# 0-9 default index provided by series object

In [9]:
s1[9] #accessing value by index

100

In [10]:
s1[[2,4,7,9,0]] #accessing multiple values

2     33
4     55
7     88
9    100
0     11
dtype: int64

In [11]:
s1[5] = 3333 #modifying a value

In [12]:
s1[5]

3333

In [13]:
del s1[5] #deleting a value

In [14]:
s1

0     11
1     22
2     33
3     44
4     55
6     77
7     88
8     99
9    100
dtype: int64

In [15]:
s1[[1,2,3,4]] = 111,222,333,444 #modifying multiple values

In [16]:
s1

0     11
1    111
2    222
3    333
4    444
6     77
7     88
8     99
9    100
dtype: int64

In [17]:
s1[22] = 56
s1[[11,44,33]] = 54,23,12

ValueError: [11 44 33] not contained in the index

In [ ]:
s1

# Defining our own indexes

In [ ]:
s2 = pd.Series([10,20,30,40], index=["oranges","apples","bananas","kiwi"])

In [ ]:
s2

In [ ]:
s2.index

In [ ]:
print(s2.values)

In [ ]:
s2>30

In [ ]:
s2[s2>30]

In [ ]:
s2[s2<30]

In [ ]:
'mango' in s2

In [ ]:
'oranges' in s2

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata,index=states)
obj4

In [ ]:
obj4.isnull()

In [ ]:
obj4['California'] = 20000

In [ ]:
obj4

In [ ]:
obj4.notnull()

# DataFrame

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
df1 = pd.DataFrame(data)
df1

In [ ]:
df1['pop'] #recommended

In [ ]:
df1.pop

In [ ]:
df1[['pop','state']]

In [ ]:
del df1['pop']

In [ ]:
df1

In [ ]:
df1['debt'] = 10000

In [ ]:
df1

In [ ]:
df1['debt'] = [11000,12000,13000,14000,15000,16000]

In [ ]:
df1

In [ ]:
df1['debt'] = df1['state']

In [ ]:
df1

In [ ]:
df1['debt'] = range(6)

In [ ]:
df1

In [ ]:
dic = {'AI for E1':[85,40,71,57,84,97],
       'Python1':[71,30,84,31,67,80],
       'Python2':[57,50,97,67,80,98]}
df2 = pd.DataFrame(dic, index=['A','B','C','D','E','F'])
df2

In [ ]:
df2['Total'] = df2['AI for E1']+df2['Python1']+df2['Python2']

In [ ]:
df2

In [ ]:
df2['Status'] = ['Pass' if marks>=200 else 'Fails' for marks in df2.Total]
df2

In [ ]:
df2['Status2'] = [if a<=33for a,p1,p2 in zip(df2['AI for E1'],df2['Python1'],df2['Python2'])]

In [ ]:
df2['Status3'] = np.where(((df2['AI for E1']<50)& (df2['Python1']<50) & (df2['Python2']<50)),"fail" , "pass")

In [ ]:
df2